section#Clients.container-sm.py-5
    h2 Ils nous font confiance
    .logo-carousel.owl-carousel
        .single-logo
            img(alt="ARECO" src="/img/Clients/ARECO.svg")
        .single-logo
            img(alt="Azur Imagerie Médicale" src="/img/Clients/AzurImagerieMedicale.png")
        .single-logo
            img(alt="CEVA" src="/img/Clients/CEVA.svg")
        .single-logo
            img(alt="Drieux Combaluzier" src="/img/Clients/DrieuxCombaluzier.png")
        .single-logo
            img(alt="Gehygeo" src="/img/Clients/Gehygeo.png")
        .single-logo
            img(alt="HeliAirMonaco" src="/img/Clients/HeliAirMonaco.svg")
        .single-logo
            img(alt="Thyssenkrupp Elevator" src="/img/Clients/Thyssenkrupp_Elevator.svg")
        .single-logo
            img(alt="Tout Faire Matériaux" src="/img/Clients/ToutFaireMateriaux.svg")
        .single-logo
            img(alt="Transdev" src="/img/Clients/Transdev.svg")