section#Partenaires.container-sm.py-5
    h2 Des partenaires reconnus
    .logo-carousel.owl-carousel
        .single-logo
            img(alt="Cisco" src="/img/Partenaires/Cisco_white.svg")
        .single-logo
            img(alt="EATON" src="/img/Partenaires/EATON.png")
        .single-logo
            img(alt="EBP" src="/img/Partenaires/EBP.svg")
        .single-logo
            img(alt="Fujitsu" src="/img/Partenaires/Fujitsu.png")
        .single-logo
            img(alt="HP" src="/img/Partenaires/HP.svg")
        .single-logo
            img(alt="Microsoft" src="/img/Partenaires/Microsoft.svg")
        .single-logo
            img(alt="Ontrack" src="/img/Partenaires/Ontrack.svg")
        .single-logo
            img(alt="Open Source Initiative" src="/img/Partenaires/Opensource.png")
        .single-logo
            img(alt="Orange" src="/img/Partenaires/Orange.svg")
        .single-logo
            img(alt="Overland Tandberg" src="img/Partenaires/OverlandTandberg.svg")
        .single-logo
            img(alt="PC Soft" src="/img/Partenaires/PC_Soft.svg")
        .single-logo
            img(alt="Trend Micro" src="/img/Partenaires/TrendMicro.svg")
        .single-logo
            img(alt="RedHat" src="/img/Partenaires/RedHat.svg")