section#Slider
    .first
        .container-sm
            img(src="/img/Logo_Aliant.svg", alt="Logo Aliant").logo
            p Spécialiste en ingénierie logicielle, mobilité, réseau, sécurité et intégration de systèmes dans les technologies informatiques.