section#Clients
    img.client(src="/images/Clients/ARECO.svg")
    img.client(src="/images/Clients/AzurImagerieMedicale.png")
    img.client(src="/images/Clients/CEVA.svg")
    img.client(src="/images/Clients/DrieuxCombaluzier.png")
    img.client(src="/images/Clients/Gehygeo.png")
    img.client(src="/images/Clients/HeliAirMonaco.svg")
    img.client(src="/images/Clients/KONI.svg")
    img.client(src="/images/Clients/Thyssenkrupp.svg")
    img.client(src="/images/Clients/ToutFaireMateriaux.svg")
    img.client(src="/images/Clients/Transdev.svg")