extends layout

block content

    section#Contact
                
        form(id="contact-form",action="send",method="POST",enctype="multipart/form-data")

            label(for="firstname") Prénom
            input(type="text",name="firstname")

            label(for="lastname") Nom
            input(type="text",name="lastname",required)

            label(for="email") Adresse email
            input(type="email",name="email",required)

            label(for="subject") Objet
            input(type="text",name="subject",required)

            label(for="message") Message
            textarea(name="message",required) 

            label(for="miel") Pot de miel (ne pas remplir si vous êtes humain) :
            input(type="text",name="miel")

            button(type="submit",value="submit") Envoyer

    script(src="/javascripts/nodemailer.js")