section#Contact
    h2 Contact
    p Notre formulaire de contact n'est pas encore disponible sur ce site. Merci de nous écrire directement à contact@aliant.fr ou d'utiliser le formulaire présent à cette adresse :
        a(href="https://www.dcm4chee.fr/contact/")  https://www.dcm4chee.fr/contact/
    div.address
        address
            p
                span.b Aliant
                br
                | L'altaïr C
                br
                | 50 Chemin du val fleuri
                br
                | 06800 Cagnes-sur-Mer
    div.socials
        p
            a(href="mailto:contact@aliant.fr") contact@aliant.fr
            br
            a(href="tel:+33493311359") 04 93 31 13 59
#Map