section.text#contact-form
    h2 Contact
    form#contact(name='contact', accept-charset='utf-8')
        label
            span Name
            input(name='name', type='text', placeholder='Name')
        label
            span Email
            input(name='email', type='email', placeholder='Email')
        label
            span Message
            textarea(name='message', placeholder='Message')
        input(name='submit', type='submit', value='Send')