.container-fluid.bg-secondary.bg-opacity-10
  footer.container.py-2.my-4
    .row.py-3
      .col-sm-4
        h5.fw-bold Aliant
        p L'Altaïr C
          br
          | 50 Chemin du Val Fleuri
          br
          | 06800 Cagnes-sur-mer
      .col-sm-3
        p.mb-1
          i.bi-telephone-fill
          | &nbsp; 04 93 31 13 59
          br
          i.bi-envelope-fill
          | &nbsp; contact@aliant.fr
        ul.list-unstyled.d-flex.fs-3
          li
            a.link-dark(href='https://www.linkedin.com/company/aliant-france/',target="_blank")
              i.bi-linkedin
          li.ms-4
            a.link-dark(href='https://twitter.com/Aliant_FR',target="_blank")
              i.bi-twitter
          li.ms-4
            a.link-dark(href='https://www.facebook.com/aliant.fr/',target="_blank")
              i.bi-facebook
    .d-flex.justify-content-between.py-3.border-top
      p &copy; #{year} Aliant. Tous droits réservés.
        br
        a(href="/legal") Mentions légales
