.container
  footer.py-5
    //- .row
      .col-4
        h5 Section
        ul.nav.flex-column
          li.nav-item.mb-2
            a.nav-link.p-0.text-muted(href='#') Home
          li.nav-item.mb-2
            a.nav-link.p-0.text-muted(href='#') Features
          li.nav-item.mb-2
            a.nav-link.p-0.text-muted(href='#') Pricing
          li.nav-item.mb-2
            a.nav-link.p-0.text-muted(href='#') FAQs
          li.nav-item.mb-2
            a.nav-link.p-0.text-muted(href='#') About
      .col-4
        h5 Section
        ul.nav.flex-column
          li.nav-item.mb-2
            a.nav-link.p-0.text-muted(href='#') Home
          li.nav-item.mb-2
            a.nav-link.p-0.text-muted(href='#') Features
          li.nav-item.mb-2
            a.nav-link.p-0.text-muted(href='#') Pricing
          li.nav-item.mb-2
            a.nav-link.p-0.text-muted(href='#') FAQs
          li.nav-item.mb-2
            a.nav-link.p-0.text-muted(href='#') About
    .d-flex.justify-content-between.py-2.my-4
      p &copy; 2022 Aliant. Tous droits réservés.
        br
        a(href="#") Mentions légales
      ul.list-unstyled.d-flex
        li.ms-3
          a.link-dark(href='#')
            svg.bi(width='24' height='24')
              use(xlink:href='#twitter')
        li.ms-3
          a.link-dark(href='#')
            svg.bi(width='24' height='24')
              use(xlink:href='#instagram')
        li.ms-3
          a.link-dark(href='#')
            svg.bi(width='24' height='24')
              use(xlink:href='#facebook')
