footer

    div.address
        address
            p
                span.b Aliant
                br
                | L'altaïr C
                br
                | 50 Chemin du val fleuri
                br
                | 06800 Cagnes-sur-Mer
    div.socials
        p
            a(href="mailto:contact@aliant.fr") contact@aliant.fr
            br
            a(href="tel:+33493311359") 04 93 31 13 59
    br
    p Copyright © 2021, Aliant S.A.R.L. All Rights Reserved.