extends layout

block content

  include slider.pug
  include presentation.pug
  include services.pug
  include partenaires.pug
  include dcm4chee.pug
  include clients.pug
  include map.pug

  script(src="/javascripts/carousels.js")