extends layout

block content

  include slider.pug
  include presentation.pug
  include services.pug
  include partenaires.pug
  include dcm4chee.pug
  include clients.pug
  include contact.pug

  script(src="/javascripts/carousels.js")
  script(src="/javascripts/map.js")