extends layout

block content

  block

  section#Slider.image
    img(src="https://dev.aliant.fr/img/sliders/1/_hd/869ad79675c4c6bf0d265d8805e21037.jpg")

  section#Presentation.text
    div.left
        p Créée en 1996, Aliant est spécialisée en conseil, ingénierie logicielle, mobilité, réseau, sécurité et intégration de systèmes dans les technologies informatiques.
        p Nous savons parfaitement que notre réussite passe par la satisfaction de nos clients. Pour atteindre cet objectif, notre structure à taille humaine et notre organisation nous permettent d'établir des relations de proximité avec nos clients et d'être réactifs.
        p Dans les domaines aussi diversifiés que le développement d'applications, de l'exploitation et de l'intégration de systèmes, nous avons acquis une forte expertise sur de nombreuses technologies et standards de grand fournisseurs mais aussi Open Source.
        p Aliant est notamment le premier intégrateur de dcm4chee en France et propose des formules attractives d’installation et de maintenance auprès des professionnels de santé. dcm4chee est un ensemble d'applications et de services pour les établissements de santé dotés de systèmes d'imageries médicales : il s’agit d’un PACS (Picture Archiving and Communication System) open source. Il n'y a donc pas de redevance en termes de licences.
    div.right
      img(src="https://dev.aliant.fr/demo/technicians.jpg")

  section#Services
    h1 Services
    p Aliant s’attèle à vous proposer des prestations sur-mesure afin que vous puissiez vous concentrer sur votre activité et maximiser votre productivité.
    div.grid-8
      div.service#ServicesWeb
        img(src="/images/Icons/language_black_24dp.svg")
        h2 Services web
        p Du développement de sites B2B et d’applications web à l’intégration d’outils comme des logiciels de Customer Relationship Management (CRM) vous permettant de gérer factures, devis, SAV et autres interactions avec votre clientèle, nous nous adaptons à vos besoins et vous offrons un large éventail de services web sur-mesure et évolutifs. Le tout à un prix juste et avec garantie de fonctionnement.
      div.service#Ingenierie
        img(src="/images/Icons/psychology_black_24dp.svg")
        h2 Ingénierie
        p Nos ingénieurs vous accompagnent dans la conception et la mise en œuvre de vos projets via le développement de logiciels, l’intégration de software ou d’hardware ou le déploiement d'infrastructures et d'applications. Nous installons un réseau fiable, rapide, répondant aux dernières normes de sécurité et de rapidité, évolutif et performant. Partenaire Microsoft, nous pouvons vous aider à migrer vers des solutions à votre convenance, afin de vous garantir une disponibilité sans faille. Nous identifions pour vous le matériel en adéquation avec vos besoins, toujours à un prix très intéressant. Professionnels de santé : nous sommes Intégrateurs PACS et RIS.
      div.service#SupportEtInfogerance
        img(src="/images/Icons/support_black_24dp.svg")
        h2 Support et infogérance
        p Aliant vous propose différents types de contrats de support, d'assistance ainsi que des contrats d'exploitation. Ces contrats, à périmètre variable et définis conjointement avec vous, adoptent la formule qui vous convient le mieux : helpdesk, assistance rapprochée, support, interventions, gestion de parc informatique, sauvegardes de vos données, exploitation des applications, surveillance, gestion d'incidents.
      div.service#Securite
        img(src="/images/Icons/security_black_24dp.svg")
        h2 Sécurité
        p Nous vous accompagnons dans la mise en place d'une stratégie de sécurité garantissant la continuité de vos processus et la protection de vos investissements : test de vulnérabilité des sites et systèmes, mise en place de systèmes de protection, de cryptages, d'authentification, filtrage "ciblé" interdisant les flux contre-productifs tels que : réseaux sociaux, streaming (vidéos, youtube, etc.), jeux en ligne...
      div.service#DataRecovery
        img(src="/images/Icons/storage_black_24dp.svg")
        h2 Data recovery
        p Si vous pensez avoir perdu vos données, Aliant est également qualifié pour vous aider. Nous sommes équipés d'outils professionnels de data recovery destinés à les récupérer sur divers types de médias : disques durs, serveurs virtuels, SSD, clés USB, cartes mémoire…
      div.service#Sauvegarde
        img(src="/images/Icons/save_black_24dp.svg")
        h2 Sauvegarde
        p Afin de prévenir toute perte de données, ressources précieuses de votre organisation, nous vous mettons en place une sauvegarde redondante sur site et hors site, mais également synchronisée sur le cloud. Nous pouvons aussi mettre en œuvre un plan de continuité d’activité (PCA/PRA), suivant un process précis selon vos besoins de sécurité.
      div.service#AuditConseilAssistance
        img(src="/images/Icons/manage_search_black_24dp.svg")
        h2 Audit, Conseil, Assistance
        p Aliant est en mesure d'accompagner les Directeurs Système Informatique (DSI) tout au long du cycle de vie des projets : management de mission et de projets, étude d' opportunité et de faisabilité, choix de progiciel, opportunités d'apports technologiques, audit, services, organisation et processus, spécification de solutions, choix d'architecture, Plan de Reprise d'activité (PRA ou DRP), Plan de mise en œuvre…
      div.service#FormationsEtAccompagnements
        img(src="/images/Icons/school_black_24dp.svg")
        h2 Formations et accompagnements
        p Nous proposons à nos clients des formations standards ou sur mesure, inter ou intra-entreprises, sur les produits et technologies que nous maîtrisons, entre autres : environnements techniques (Operating System Linux, Windows, pare-feu et appliances CISCO, D-LINK), progiciels et logiciels (dcm4chee, VTiger, Suite Microsoft Office, Libre Office, Google et Adobe) environnement et langages de développement (Windev/Webdev/Windev Mobile, HTML/CSS, JS, PHP, JAVA/J2E, NetBeans…) Modélisation UML, Design Patterns, Modèle MVC Bases de données (MySQL, SQL Server, PostGreSQL, Hyperfile C/S, BaseX, etc.).

  section#Partenaires
    img.partenaire(src="https://upload.wikimedia.org/wikipedia/commons/6/64/Cisco_logo.svg")
    img.partenaire(src="/images/Partenaires/EATON_EN.png")
    img.partenaire(src="/images/Partenaires/EBP.svg")
    img.partenaire(src="/images/Partenaires/Fujitsu.png")
    img.partenaire(src="/images/Partenaires/HP_V2.png")
    img.partenaire(src="/images/Partenaires/Microsoft.svg")
    img.partenaire(src="/images/Partenaires/Ontrack.svg")
    img.partenaire(src="/images/Partenaires/Opensource.svg")
    img.partenaire(src="/images/Partenaires/Orange.svg")
    img.partenaire(src="/images/Partenaires/OverlandTandberg.svg")
    img.partenaire(src="/images/Partenaires/PC_Soft.svg")
    img.partenaire(src="/images/Partenaires/TrendMicro.svg")

  section#dcm4chee.image
    a(href="https://www.dcm4chee.fr/", title="https://www.dcm4chee.fr/")
      img(src="/images/Bandeau_dcm4chee.webp", alt="Bandeau dcm4chee", title="Bandeau dcm4chee")

  section#Clients
    img.client(src="/images/Clients/ARECO.svg")
    img.client(src="/images/Clients/AzurImagerieMedicale.png")
    img.client(src="/images/Clients/CEVA.svg")
    img.client(src="/images/Clients/DrieuxCombaluzier.png")
    img.client(src="/images/Clients/Gehygeo.png")
    img.client(src="/images/Clients/HeliAirMonaco.svg")
    img.client(src="/images/Clients/Thyssenkrupp.svg")
    img.client(src="/images/Clients/ToutFaireMateriaux.svg")
    img.client(src="/images/Clients/Transdev.svg")

  section.text#contact
    h2 Contact
    form#contact-form(action="/send", method="POST", name='contact', accept-charset='utf-8', enctype="multipart/form-data")
      label
        span Nom
        input(class="contact-form-input", name='name', type='text', placeholder='Nom', required)
      label
        span Adresse email
        input(class="contact-form-input", name='email', type='email', placeholder='Adresse email', required)
      label
        span Sujet
        input(class="contact-form-input", name='subject', type='text', placeholder='Sujet', required)
      label
        span Message
        textarea(class="contact-form-input", name='message', placeholder='Message', required)
      input(name='submit', type='submit', value='Send')
      p= notif