doctype html

html(lang="fr")

  head
    include head.pug
   
  body

  include parts/svg.pug

    .wrapper

      include nav.pug

      .content
        block content

      include footer.pug
        