doctype html

html(lang="fr")

  head

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title= title

    link(rel="shortcut icon", sizes="any", type="image/svg+xml", href="/images/Logo_Aliant_NoText.svg")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap", rel="stylesheet")

  body

    div.wrapper

      header
        a(href="/")
          img(src="/images/Logo_Aliant.svg", alt="Aliant").logo
        nav.menu
          a(href="/#Services") Services
          a(href="https://www.dcm4chee.fr/") dcm4chee
          a(href="#Partenaires") Partenaires
          a(href="#contact-form") Contact

      div(class="content")
        block content

      footer
        p © 2021 Aliant S.A.R.L.

      //script(src="/javascripts/sendemail.js")