doctype html

html(lang="fr")

  head

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title= title

    link(rel="shortcut icon", sizes="any", type="image/svg+xml", href="/images/Logo_Aliant_NoText.svg")
    link(rel="stylesheet", href="/stylesheets/fonts.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap", rel="stylesheet")

    link(href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css' rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css' rel='stylesheet')
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css' integrity='sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==' crossorigin='')


    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js')
    script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js' integrity='sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==' crossorigin='')


  body

    div.wrapper

      nav
        a(href="/")
          img(src="/images/Logo_Aliant.svg", alt="Logo Aliant").logo
        menu
          li
            a(href="/#Services") Services
          li
            a(href="https://www.dcm4chee.fr/") dcm4chee
          li
            a(href="#Contact") Contact

      div(class="content")
        block content

      footer
        p Copyright © 2021, Aliant S.A.R.L. All Rights Reserved.