extends layout

block content
  section.container.pt-5

    h1 Mentions légales

    h3.pt-3 1. Édition, publication et hébergement

    p Le Site est édité par la société ALIANT, société à responsabilité limitée au capital social de 7 622,45 euros et dont le siège social est situé 50 Chemin du Val Fleuri, 06800 Cagnes-sur-mer, identifiée sous le numéro B 404 573 511 RCS Antibes et sous le numéro de TVA intracommunautaire FR91404573511. Le siège est joignable par téléphone au +33 (0) 4 93 31 13 59, ou par courrier électronique à l'adresse contact@aliant.fr.

    p La directrice de la publication est Madame Elisa Renault.

    p Le Site est hébergé par la société IONOS, société à responsabilité limitée dont le siège social est situé 7 place de la Gare, BP 70109, 57200 Sarreguemines Cedex. L'hébergeur est joignable par téléphone au +33 (0) 9 70 80 89 11, ou par courrier électronique à l'adresse info@ionos.fr.
    
    h3.pt-3 2. Propriété intellectuelle

    p Ce site et son contenu sont protégés par le droit d'auteur et/ou autres droits de propriété intellectuelle qui sont la propriété d'Aliant de tiers.

    p La reproduction et l'utilisation des éléments de ce site sont autorisées sous réserve que :

    ul
      li cette reproduction et utilisation soient strictement pour information, à des fins non commerciales à l'intérieur de votre organisation pour vous permettre de mieux connaître Aliant ; et,
      li toutes les mentions d'origine et en particulier les mentions de copyright apparaissent sur toute reproduction ; et les éléments et informations ne soient pas modifiés en tout ou partie et de quelque manière que ce soit ; et,
      li Tout autre droit de reproduction et/ou d'utilisation est expressément interdit.

    h3.pt-2 3. Exclusions de garantie et responsabilité

    p Les éléments de ce site sont fournis à titre d'information générale seulement et ne peuvent servir de base à une quelconque transaction.

    p Toutes les informations ou l'une quelconque d'entre elles publiées sur ce site sont fournies en l'état sans garantie d'aucune sorte, expresse ou implicite, qu'il s'agisse, et sans que cela soit limitatif, de garantie de qualité loyale et marchande, d'adéquation à un besoin spécifique ou d'absence de contrefaçon de droits de tiers.

    p Aliant n'apporte aucune garantie quant à l'exactitude et au caractère complet des éléments et/ou des informations publiés sur ce site.

    p Aliant ne garantit en aucune manière un accès ininterrompu à ce site.

    p L'utilisation des éléments du site et de toute information qui y est incluse ainsi que l'accès à ce site sont de la seule responsabilité de l'utilisateur. Aliant dégage sa responsabilité pour quelque dommage que ce soit, ceci incluant sans limitation les dommages directs et indirects qui pourraient résulter de l'accès à ce site et de l'utilisation en tout ou partie des éléments ou informations qui y sont contenus.

    h3.pt-3 4. Liens hypertextes

    p Ce Site peut contenir des liens avec des sites de tiers. Ces liens sont fournis aux seules fins de commodités et l'inclusion de ces liens n'implique en aucune façon un contrôle des éléments des sites auxquels les liens donnent accès ni un quelconque aval à, ni une quelconque garantie sur, ces éléments. L'accès à ces sites est de la seule responsabilité de l'utilisateur.

    h3.pt-3 5. Données personnelles

    p Toute information ou demande d'information que vous pourriez adresser à Aliant via le site ou via la messagerie électronique à laquelle le site peut donner accès, est considérée comme non confidentielle.

    p Vous pouvez également adresser vos informations ou demandes par courrier à l'adresse du siège social d'Aliant.

    p Aliant collecte et traite les informations que vous fournissez volontairement dans le formulaire de contact, y compris vos prénom et nom, votre adresse électronique, et le contenu de vos messages.

    p Vos données sont utilisées pour les finalités suivantes :

    ul
      li Communication : pour permettre de répondre à vos demandes et vous informer sur les produits et services Aliant ;
      li Marketing : effectuer des actions de marketing direct, des études de marché et des enquêtes ;

    p Aliant s'engage à traiter respectueusement vos données en s'appuyant sur votre consentement, que vous pouvez retirer à tout moment.

    p Vos données personnelles seront conservées pendant trois ans au maximum après leur collecte.

    p Aliant est le seul destinataire des données collectées via ce site web et ces données restent strictement dans l'Espace Economique Européen (EEE).

    p Veuillez noter que vous disposez d’un droit d'accès à vos données personnelles, ainsi qu’un droit de rectification et d’effacement de vos données personnelles. Vous pouvez également définir des directives relatives au sort de vos données personnelles après votre décès. Vous bénéficiez en outre du droit de solliciter une limitation du traitement. De plus, vous pouvez demander la communication, dans un format structuré et standard, des données personnelles que vous avez fournies à Aliant et qui font l’objet d’un traitement à l’aide de procédés automatisés.

    p Pour toute demande ou réclamation, veuillez nous contacter à l'adresse suivante : contact@aliant.fr. En tout état de cause, vous avez le droit d’introduire une réclamation auprès de l'autorité compétente de protection des données.

    h3.pt-3 6. Modifications

    p.pb-5 Aliant peut modifier à tout moment et sans notification préalable les éléments publiés sur ce site ou toute information qui y est incluse.