section#Partenaires
    h2 Des partenaires reconnus
    .logo-carousel.owl-carousel
        .single-logo
            img(alt="Cisco" src="/images/Partenaires/Cisco_white.svg")
        .single-logo
            img(alt="EATON" src="/images/Partenaires/EATON.png")
        .single-logo
            img(alt="EBP" src="/images/Partenaires/EBP.svg")
        .single-logo
            img(alt="Fujitsu" src="/images/Partenaires/Fujitsu.png")
        .single-logo
            img(alt="HP" src="/images/Partenaires/HP.svg")
        .single-logo
            img(alt="Microsoft" src="/images/Partenaires/Microsoft.svg")
        .single-logo
            img(alt="Ontrack" src="/images/Partenaires/Ontrack.svg")
        .single-logo
            img(alt="Open Source Initiative" src="/images/Partenaires/Opensource.png")
        .single-logo
            img(alt="Orange" src="/images/Partenaires/Orange.svg")
        .single-logo
            img(alt="Overland Tandberg" src="images/Partenaires/OverlandTandberg.svg")
        .single-logo
            img(alt="PC Soft" src="/images/Partenaires/PC_Soft.svg")
        .single-logo
            img(alt="Trend Micro" src="/images/Partenaires/TrendMicro.svg")
        .single-logo
            img(alt="RedHat" src="/images/Partenaires/RedHat.svg")