section#Partenaires
    img.partenaire(src="https://upload.wikimedia.org/wikipedia/commons/6/64/Cisco_logo.svg")
    img.partenaire(src="/images/Partenaires/EATON_EN.png")
    img.partenaire(src="/images/Partenaires/EBP.svg")
    img.partenaire(src="/images/Partenaires/Fujitsu.png")
    img.partenaire(src="/images/Partenaires/HP_V2.png")
    img.partenaire(src="/images/Partenaires/Microsoft.svg")
    img.partenaire(src="/images/Partenaires/Ontrack.svg")
    img.partenaire(src="/images/Partenaires/Opensource.svg")
    img.partenaire(src="/images/Partenaires/Orange.svg")
    img.partenaire(src="/images/Partenaires/OverlandTandberg.svg")
    img.partenaire(src="/images/Partenaires/PC_Soft.svg")
    img.partenaire(src="/images/Partenaires/TrendMicro.svg")