section#Presentation
    section.text
        div.left
            p Créée en 1996, Aliant est spécialisée en conseil, ingénierie logicielle, mobilité, réseau, sécurité et intégration de systèmes dans les technologies informatiques.
            p Nous savons parfaitement que notre réussite passe par la satisfaction de nos clients. Pour atteindre cet objectif, notre structure à taille humaine et notre organisation nous permettent d'établir des relations de proximité avec nos clients et d'être réactifs.
            p Dans les domaines aussi diversifiés que le développement d'applications, de l'exploitation et de l'intégration de systèmes, nous avons acquis une forte expertise sur de nombreuses technologies et standards de grand fournisseurs mais aussi Open Source.
            p Aliant est notamment le premier intégrateur de dcm4chee en France et propose des formules attractives d’installation et de maintenance auprès des professionnels de santé. dcm4chee est un ensemble d'applications et de services pour les établissements de santé dotés de systèmes d'imageries médicales : il s’agit d’un PACS (Picture Archiving and Communication System) open source. Il n'y a donc pas de redevance en termes de licences.
            a(href="/contact").button Contactez nous
        div.right
            img(src="/images/handshake.jpg" alt="Client satisfait serrant la main à son prestataire")