section#Services
    h2 Services
    p Aliant s’attèle à vous proposer des prestations sur-mesure afin que vous puissiez vous concentrer sur votre activité et maximiser votre productivité.
    div.grid-8
        div.service#ServicesWeb
            header
                img(src="/images/Icons/internet.svg" alt="Planète connectée")
                h3 Services web
            p Développement de sites B2B ou d’applications web et intégration d’outils comme des logiciels de CRM.
        div.service#Ingenierie
            header
                img(src="/images/Icons/ingenierie.svg" alt="Conception mentale")
                h3 Ingénierie
            p Conception et mise en œuvre de vos projets via le développement, l’intégration ou le déploiement d'infrastructures et d'applications.
        div.service#SupportEtInfogerance
            header
                img(src="/images/Icons/support.svg" alt="Bouée")
                h3 Support et infogérance
            p Contrats de support, d'assistance ainsi que des contrats d'exploitation à périmètre variable et définis conjointement avec vous.
        div.service#Securite
            header
                img(src="/images/Icons/securite.svg" alt="Bouclier")
                h3 Sécurité
            p Stratégie de sécurité garantissant la continuité de vos processus et la protection de vos investissements.
        div.service#DataRecovery
            header
                img(src="/images/Icons/data.svg" alt="Support de stockage")
                h3 Data recovery
            p Outils professionnels de data recovery destinés à les récupérer sur divers types de médias : disques durs, serveurs virtuels, clés USB, entre autres.
        div.service#Sauvegarde
            header
                img(src="/images/Icons/sauvegarde.svg" alt="Disquette")
                h3 Sauvegarde
            p Solutions de sauvegardes redondantes sur site et hors site, synchronisées sur le cloud et plan de continuité d’activité (PCA/PRA).
        div.service#AuditConseilAssistance
            header
                img(src="/images/Icons/analyse.svg" alt="Loupe grossissante")
                h3 Audit, Conseil, Assistance
            p Management de missions et de projets, études d'opportunité et de faisabilité, choix de progiciel et d'architecture.
        div.service#FormationsEtAccompagnements
            header
                img(src="/images/Icons/formation.svg" alt="Coiffe universitaire")
                h3 Formations
            p Standards ou sur mesure, inter ou intra-entreprises, sur les produits et technologies que nous maîtrisons.
