extends layout

block content

  include parts/slider.pug
  include parts/presentation.pug
  include parts/services.pug
  include parts/partenaires.pug
  include parts/dcm4chee.pug
  include parts/clients.pug
  include parts/map.pug

  script(src="/js/carousels.js")