nav.navbar.navbar-expand-lg.sticky-top.navbar-light.bg-light.shadow
  .container-sm
    .d-flex.flex-grow-1
        a.navbar-brand(href='/')
            img(src="/images/Logo_Aliant_NoText.svg", alt="Logo").logo
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navMenu' aria-controls='navMenu' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navMenu.collapse.navbar-collapse.flex-grow-1.text-right
      ul.navbar-nav.ms-auto.flex-nowrap
        li.nav-item
            a.nav-link(href="/#Services") Services
        li.nav-item
            a.nav-link(href="https://www.dcm4chee.fr/") dcm4chee
        li.nav-item
            a.nav-link(href="/contact") Contact