* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body {
  margin: 0;
  font-size: 1em;
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  color: #2C2C2C;
}

pre {
  max-width: 100vw;
  overflow: auto;
}

a {
  color: #E05D22;
  text-decoration: none;
}

p {
  text-align: justify;
  margin-top: 0.5em;
}

.wrapper {
  /* Allows the page to take 100% available space minimum so that the footer is on the bottom,
  and that it's the content that fills the gap. */
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  background-color: #FFFFFF;
  box-shadow: 0 0 0.5em darkgray;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 999;
}

header .logo {
  height: 6em;
  padding: 1em;
}

header .menu {
  align-self: end;
  font-size: 1.2em;
}

.menu {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  list-style-type: none;
}

.menu a {
  display: inline-block;
  padding: 0.8em;
}

.content {
  background-color: #F5F5F5;
}

section.text {
  padding: 2em 25vw;
  border-bottom: solid 1px #FFFFFF;
}

section.image img {
  width: 100%;
  display: block;
}

#Services {
  display: grid;
  grid-template-columns: repeat(4, minmax(10em, 40em));
  justify-content: center;
  grid-gap: 1em;
  padding: 1em;
}

#Services .service {
  max-width: 40em;
  background-color: #e08860;
  padding: 1em;
}

#Partenaires {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 1em;
  background-color: #FFF;
}

#Partenaires .partenaire {
  margin: 1em;
  max-height: 10em;
  max-width: 10em;
}

#Partenaires .partenaire:first-child {
  width: 10em;
}

#Clients {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 1em;
  background-color: #FFF;
}

#Clients .client {
  margin: 1em;
  max-height: 10em;
  max-width: 10em;
}

footer {
  background-color: #E0E0E0;
  padding: 1em;
}

footer p {
  text-align: center;
}

/***************************/

#Contact h2 {
  text-align: center;
  font-size: 2.5em;
}
#contact, label, input[name="submit"] {
  position: relative;
}
label {
  display: block;
}
label > span {
  display: none;
}
input, textarea, button {
  width: 100%;
  padding: 0.5em;
  border: none;
  font: 300 100%/1.2 'Work Sans', sans-serif;
}
input[type="text"], input[type="email"], textarea {
  margin: 1em 0 0 0;
  border: 1px solid #ccc;
  outline: none;
}
textarea {
  height: 6em;
}
input[type="submit"], button {
  background: #ff9651;
  color: #333;
  margin: 1em 0 0 0;
}
input[type="submit"]:hover, button:hover {
  background: #ff7909;
}

/**************************************************/

@media screen and (max-width: 1350px) {

  section.text {
    padding: 2em 15vw;
  }

  #Services {
    grid-template-columns: 1fr 1fr;
  }

}

@media screen and (max-width: 1000px) {

  section.text {
    padding: 2em 10vw;
  }

}

@media screen and (max-width: 650px) {

  header {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  header .logo {
    height: 8em;
  }

  header .menu {
    grid-template-columns: 1fr;
  }

  header .menu a {
    background-color: #FAF0EB;
    border-bottom: solid 1px #FFFFFF;
    text-align: center;
  }

  header .menu a:last-child {
    border-bottom: none;
  }

  section.text {
    padding: 2em;
  }

  #Services {
    grid-template-columns: 1fr;
  }

}