#icon-grid.container-fluid.bg-warning.py-5
  .container-sm
    h2.pb-5 Nos services
    .row.row-cols-1.row-cols-sm-2.row-cols-md-3.row-cols-lg-4.g-4
      .col.d-flex.align-items-start
        svg.bi.text-muted.flex-shrink-0.me-3(width='1.75em' height='1.75em')
          use(xlink:href='#cpu-fill')
        div
          h4.fw-bold.mb-0 Featured title
          p Paragraph of text beneath the heading to explain the heading.
      .col.d-flex.align-items-start
        svg.bi.text-muted.flex-shrink-0.me-3(width='1.75em' height='1.75em')
          use(xlink:href='#cpu-fill')
        div
          h4.fw-bold.mb-0 Featured title
          p Paragraph of text beneath the heading to explain the heading.
      .col.d-flex.align-items-start
        svg.bi.text-muted.flex-shrink-0.me-3(width='1.75em' height='1.75em')
          use(xlink:href='#calendar3')
        div
          h4.fw-bold.mb-0 Featured title
          p Paragraph of text beneath the heading to explain the heading.
      .col.d-flex.align-items-start
        svg.bi.text-muted.flex-shrink-0.me-3(width='1.75em' height='1.75em')
          use(xlink:href='#home')
        div
          h4.fw-bold.mb-0 Featured title
          p Paragraph of text beneath the heading to explain the heading.
      .col.d-flex.align-items-start
        svg.bi.text-muted.flex-shrink-0.me-3(width='1.75em' height='1.75em')
          use(xlink:href='#speedometer2')
        div
          h4.fw-bold.mb-0 Featured title
          p Paragraph of text beneath the heading to explain the heading.
      .col.d-flex.align-items-start
        svg.bi.text-muted.flex-shrink-0.me-3(width='1.75em' height='1.75em')
          use(xlink:href='#toggles2')
        div
          h4.fw-bold.mb-0 Featured title
          p Paragraph of text beneath the heading to explain the heading.
      .col.d-flex.align-items-start
        svg.bi.text-muted.flex-shrink-0.me-3(width='1.75em' height='1.75em')
          use(xlink:href='#geo-fill')
        div
          h4.fw-bold.mb-0 Featured title
          p Paragraph of text beneath the heading to explain the heading.
      .col.d-flex.align-items-start
        svg.bi.text-muted.flex-shrink-0.me-3(width='1.75em' height='1.75em')
          use(xlink:href='#tools')
        div
          h4.fw-bold.mb-0 Featured title
          p Paragraph of text beneath the heading to explain the heading.
